header {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

header span {
	color: #fff;
	font-size: 25px;
}

i {
	margin-right: 10px;
}